
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 5px;
  margin: auto;
  height: max-content;
}

.product-card {
  position: relative;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
  transition: var(--hover-transition);
  width: 100%;
}

.product-card:hover {
  box-shadow: var(--box-shadow);
  transform: translateY(-0.5px);
}

.products-container .card
{  width:230px!important;
height:360px !important;
overflow: hidden;
border-radius:  0px;
border: none;
display: flex;
justify-content: flex-start;
flex-direction: column;
gap: 8px;
font-weight: 500;

}

.fav-icon{
  position: absolute;
  top: 15px;
  right: 10px;
  color: var(--black-color);
  font-size: var(--text-size);
  font-family: var(--poppines-bold);
  cursor: pointer;
  transition: 0.2s;
}
.fav-icon > *{
margin-bottom: 8px;
}
.fav-icon a,.fav-icon button{
color: var(--black-color);
background-color: white;
display: block;
width: 25px;
height: 25px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
transition: var(--hover-transition);
  padding: 3px;
  outline: none;
  border: none;

}
.fav-icon a:hover, .fav-icon button:hover {
  transform: scale(1.2);
}


.img-container
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
width:100% ;
height:200px;
background-color: var(--grey-color);


}

.product-card .img-container .image
{
  width:160px;
  height: 150px;
}

.product-card .img-container .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-info 
{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  font-size: var(--text-size);
}
.product-info h3 {
  font-size: var(--text-size);
  font-family: var(--poppines-semi-bold);
  margin: 10px 0;
}

.product-info .price-rate
{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-size: var(--input-txt-size);

}
.product-info .price {
  color: var(--red-color);
  font-family: var(--poppines-bold) !important ;

}
.sale
{
text-decoration: line-through;
}
.star {
  color: var(--grey-hover);
 display: flex;
  justify-content: flex-start;
  align-items: center;
gap: 8px;
  font-size: var(--input-txt-size);

}
.stars{

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
    font-size: var(--input-txt-size);

}
.reviews {
  font-size: var(--input-txt-size);

  font-family: var(--poppines-semi-bold);
  margin-left: 5px;
  color: var(--black-color);
  opacity: var(--text-opacity);
}

.add-to-cart {
  position: absolute;
    bottom:0px;

  width: 100%;
  transform: translateX(-50%);
  padding: 10px 15px;
  background: var(--black-color);
  border: none;
  color: var(--white-color);
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
  font-size: var(--text-size);
  font-family: var(--poppines-semi-bold);
    transition: var(--hover-transition);

}
.product-card:hover .add-to-cart {
  
  opacity: 1;
}

.add-to-cart:hover
{
background-color: var(--black-hover);
}
