body {
  overflow-y: hidden;
}

.fixed-bg {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0px;
  height: 100vh;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.fixed-bg .DashboardPage {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  height: 90vh;
  padding: 20px;
}
.fixed-bg .DashboardPage > * {
  margin: 0px;
  margin-bottom: 50px;
}
.fixed-bg .DashboardPage .container-Dashboard {
  height: 404px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
}
.fixed-bg .DashboardPage::-webkit-scrollbar {
  width: 9px;
  background-color: transparent;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fixed-bg .DashboardPage::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fixed-bg .DashboardPage:hover::-webkit-scrollbar, .fixed-bg .DashboardPage:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.Layout, .Dasboard-layout {
  background: url("images/bg_4.jpg") no-repeat center;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.Layout {
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.Dasboard-layout {
  height: 100vh;
  background: none;
  background-color: rgb(253, 251, 251);
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.Dasboard-layout > * {
  -webkit-box-shadow: 0px 0px solid black;
          box-shadow: 0px 0px solid black;
}

.Dasboard-layout > div:nth-last-of-type(2) {
  width: 100vw;
}

.fixed-bg > .DashboardPage {
  overflow-y: hidden;
}
.fixed-bg > .DashboardPage > * {
  margin: 0px;
}

.fixed-bg .DashboardPage .Header {
  margin-bottom: 50px;
}

.fixed-bg .Dashboard-content {
  width: 80vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.fixed-bg .Dashboard-content td {
  height: 50px;
  width: 60px;
}

.DashboardPage .AllOrders {
  height: 90%;
} /* .orders-table    {
        height: 100%;
    }
.DashboardPage .AllOrders   .orders-table tbody{
        height: 90%;
    } */
@media (max-width: 1516px) {
  .fixed-bg .DashboardPage .container-Dashboard {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
  }
  .fixed-bg .DashboardPage .container-Dashboard > *, .fixed-bg .DashboardPage .container-Dashboard .Part3-Dashboard .Part3-Dashboard, .fixed-bg .DashboardPage .container-Dashboard .Part1-Dashboard .css-u237jv-MuiChartsSurface-root {
    width: 100%;
  }
}
@media (max-width: 1214px) {
  .fixed-bg .Dashboard-content {
    width: 100%;
  }
}
@media (max-width: 657px) {
  .fixed-bg .DashboardPage .Part2-Dashboard, .fixed-bg .DashboardPage .card-container {
    width: 100%;
  }
  .fixed-bg .DashboardPage .Part2-Dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}