.Header {
  color: black;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.Header .left span {
  opacity: 0.6;
}
.Header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.Header .right p {
  margin: 0px;
}
.Header .right input {
  border-radius: 5px;
  padding: 6px;
  border: none;
}

.Header .menu-toggle {
  display: none;
}

@media (max-width: 1145px) {
  .Header .menu-toggle {
    display: block;
  }
}
@media (min-width: 1200px) {
  .Header .menu-toggle {
    display: none;
  }
}