@use "../../../../assets/common_scss/commonScss.scss" as *;

.Header
{
    color: black;
    background: transparent;
@include between-center;
margin-bottom: 20px;
.left
{
    span{
        opacity: 0.6;
    }
}
 
.right
{
    @include Centering;
    gap: 15px;
    p{
        margin: 0px;
        
    }

    input{
        border-radius: 5px;
        padding: 6px;
        border: none;
    }
}
}



                .Header .menu-toggle 
                {
                    display: none;
                }

                
@media (max-width: 1145px) {
    
                        .Header .menu-toggle 
                {
                    display: block;
                }

}


@media (min-width: 1200px) {
  .Header .menu-toggle 
                {
                    display: none;
                }
}