
.account-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  padding:30px 10px;
  width: 90%;
  margin: auto;
  height: 70vh;
}

.account-sidebar h3 {
  font-size: var(--text-size);
  margin: 15px 0 8px;
  font-family: var(--poppines-semi-bold);
}

.account-sidebar ul {
  list-style: none;
  padding: 0 20px;
  font-family: var(--poppines-regular);
}

.account-sidebar li {
  margin: 5px 0;
}

.account-sidebar a.active {
  color: var(--red-color) !important;
}
.account-sidebar li a {
  color: var(--black-color);
  opacity: var(--text-opacity);
  transform: var(--hover-transition);
  font-size: var(--input-txt-size);
}
.account-sidebar li a:hover {
  color: var(--red-hover);
  opacity: 1;
}
.account-content {
  padding: 20px 80px;
  border-radius: 8px;
  box-shadow: 1px 1px 13px 0 rgba(0, 0, 0, 0.05);
  height:max-content;
}
.account-content h2 {
  color: var(--red-color);
  font-size: var(--sec-text-size);
  font-family: var(--Inter_18pt-Regular);
}
.profile-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-grid  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.form-grid div ,.password-input{
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: var(--hover-transition);
}

label {
  font-size: var(--text-size);
  font-family: var(--poppines-regular);
  margin-bottom: 5px;
  color: var(--black-color);
}
.password-label{
    cursor: pointer;
    margin-top: 25px ;
    background-color: var(--grey-color);
    width: fit-content;
    font-size: var(--input-txt-size);


}

.password-label:hover{

  background-color: var(--grey-hover);
}
input {
  padding: 10px;
  border-radius: 4px;
  font-size: var(--input-txt-size);
  font-family: var(--poppines-regular);
  background-color: var(--grey-color);
  border: none;
  transform: var(--hover-transition);
}
.password-input
{
visibility: hidden;
height: 0px;
overflow: hidden;
 
}

input:hover {
  background-color: var(--grey-hover);
}
.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.btn-cancel {
  background: transparent;
  border: none;
  color: var(--black-color);
  font-size: var(--input-txt-size);
  cursor: pointer;
}

.password-input.visible{

  visibility: visible;
  height: 100%;
  overflow: visible;

}

.btn-save {
  background: var(--red-color);
  color: var(--white-color);
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: var(--input-txt-size);
  font-family: var(--poppines-regular);
  transform: var(--hover-transition);
}
.btn-save:hover{
    background: var(--red-hover);
}
.error {
  color: var(--red-color);
  font-size: var(--input-txt-size);
  font-family: var(--poppines-regular);
  margin-top: 5px;
}
.success-message {
  color: green;
  background: #e8f9e8;
  border: 1px solid #b6e2b6;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: var(--poppines-regular);
  font-size: var(--text-size);
}
@media (max-width: 768px) {
  .account-container {
    grid-template-columns: 1fr;
  }

  .account-sidebar {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .account-content{
        padding: 20px 15px;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }

  .form-actions {
    flex-direction: column; 
  }

  .form-actions button {
    width: 100%;
  }
}
