
.ProductsPage
{
  
  
  padding: var(--pages-padding);
  padding-top:20px ;
}


.ProductsPage .products-container-ProductsPage .products-container
{
grid-template-columns: repeat(4,auto) ;
margin-top: 50px;
}

